<table class="table table-hover">
    <tr>
        {% if posts %}
        <td width="70px">
            <a href="{{ url_for('user', username=post.author.username) }}">
                <img id='icon' src="{{ url_for('static', filename='profile_pictures/' + post.author.profile_picture) }}" alt="">
            </a>
        </td>
        {% else %} 
        <td>
            <img id='icon' src="{{ profile_picture }}" alt=""></td>
        {% endif %}
        <td>
            <a href="{{ url_for('user', username=post.author.username) }}">
                {{ post.author.username }}
            </a>
            said {{ moment(post.timestamp).fromNow() }}:
            <br>
            {{ post.body }}
        </td>
    </tr>
</table>
