<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>{{title}}</title>
    {% else %}
        <title>Microblog</title>
    {% endif %}
</head>
<body>
    <nav>
        <h4>Microblog: 
            <a href="{{ url_for('index')}}">Home</a> 
            <a href="{{ url_for('login')}}">Login</a> 
            <a href="{{ url_for('logout')}}">Logout</a>
            <a href="{{ url_for('register')}}">Register</a>
        </h4>
    </nav>
    <hr>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    {% block body %}
    {% endblock body %}
</body>
</html>