<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  

    <style>
        
        #profile_image{
            width: 100px;
            height: 100px;
        }
        #icon{
            width: 36px;
            height: 36px;
        }
    </style>

    {% if title %}
        <title>{{title}}</title>
    {% else %}
        <title>Microblog</title>
    {% endif %}
</head>
<body>
    <nav>
        <div>
            Microblog:
            <a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}
                <a href="{{ url_for('login') }}">Login</a>
            {% else %}
                <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
                <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
          </div>
    </nav>
    <hr>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    {% block body %}
    {% endblock body %}
</body>
</html>