{% extends "base.html" %}

{% block app_content %}
    <h1>Messages</h1>
    {% for post in messages %}
    <table class="table table-hover">
        <tr>
            
            <td width="70px">
                <a href="{{ url_for('user', username=post.author.username) }}">
                    <img id='icon' src="{{ url_for('static', filename='profile_pictures/' + post.author.profile_picture) }}" alt="">
                </a>
            </td>
    
            <td>
                <a href="{{ url_for('user', username=post.author.username) }}">
                    {{ post.author.username }}
                </a>
                said {{ moment(post.timestamp).fromNow() }}:
                <br>
                {{ post.body }}
            </td>
        </tr>
    </table>
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer messages
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older messages <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}